body{
    padding:0;
    margin:0;
}
header{
    background-color: blue;
    text-align: center;
    padding:10px 0 ;
}
header a{
    margin: 0 10px;
    color:#fff;
}
footer{
 background-color: #ddd;
 text-align: center;  
padding:10px 0;
}
.wrapper{
    height: calc(100vh - 100px);

}